---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';

const pageTitle = 'About Page';

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];


const happy = true;
const finished = true;
const goal = 3;
---

<Layout title="About Pagess">
	<main>
		<a href="/">Home</a>
  	<a href="/about/">About</a>
  	<a href="/blog/">Blog</a>
		<h1>Page <span class="text-gradient">About Astro</span></h1>
		
		<h2 class="text-gradient">{pageTitle}</h2>
		<Card
			href="#"
			title="Content"
			body="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam illum dolor, numquam natus architecto expedita a explicabo saepe, eum doloribus quisquam magni esse id! Eum temporibus nulla aperiam veniam nisi ea natus corporis dicta molestias animi provident illo, assumenda culpa cum ullam facilis omnis distinctio aut! Dolore enim, error autem quam velit vel dicta aut sit ab a earum aperiam provident suscipit voluptates cum voluptatum dolorum tenetur, sunt unde cupiditate fugiat. Ullam mollitia excepturi deserunt optio, vero tempore pariatur at nostrum quisquam voluptatem blanditiis ipsa tempora molestias facere itaque expedita quia voluptatum similique eum, delectus cum facilis nobis? Ut!"
		/>
		<Card 
			href="/"
			title="Home"
			body="Back to Homepage"
		/>
		<p>Here are a few facts about me:</p>
		<ul>
			<li>My name is {identity.firstName}.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			{identity.hobbies.length >= 2 && 
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			} 
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) =>
				<li> <Card href="#" title={skill} body={skill} /> </li>
				)}
		</ul>
		{happy && <p>I am happy to be learning Astro!</p>}
		{finished && <p>I finished this tutorial!</p>}
		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</main>
</Layout>